{% block varibles %}{% endblock %}

<!DOCTYPE html>
<html lang="{{ lang | default('ru') }}">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/favicon.ico">
	<title>{{ title | default('Nunjucks template') }}</title>
	<!--[if IE]>
	<meta http-equiv='X-UA-Compatible' content="IE = edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="static/css/main.css" type="text/css">
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->
</head>
<body class="{{ bodyClass | default('')}}">

{% include "blocks/header.njk" %}

{% block content %}
	<p>Page content is empty</p>
{% endblock %}

{% include "blocks/footer.njk" %}


{# <script src="static/js/libs.min.js"></script> #}
<script src="static/js/main.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>